<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune hub Home </title>
<link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>

<body>
   
    <div class="logo">
      <img src="css/img.jpg" alt="">
    </div>
  
  <section>
	
    <header>
		<h1>Welcome to <span class="animate-charcter">MusicHub </span></h1>
      <p> Your payment to Endless Music Vibes</p>
    </header>
    <div class="hero">

      <h2>Discover, Create, Enjoy</h2>
      <p>Join Musichub for a personalized music streaming experience.</p>
      <a href="login" class="cta-button">Login</a>
      <a href="registration" class="cta-button">Sign Up</a>
    </div>
    <div class="benefits">

      <h2>Why MusicHub?</h2>
      <p>Explore personalized playlists, enjoy seamless streaming, and create your own music world.</p>
    </div>
    <div class="testimonials">

      <h2>User Testimonials</h2>
      <p>"Musichub has transformed the way I discover music. Love it!"</p>
    </div>
  </section>
  <footer>

    <p>&copy; 2024 Musichub | Contact us at <a href="mailto:info@Musichub.com">info@Musichub.com</a></p>
  </footer>
	

</body>

</html>